@import url('https://fonts.googleapis.com/css?family=Montserrat:400%7CInconsolata:400');

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

:root {
    /* COLORS  */
    /* primary */
    --primary-0: #f0efff;
    --primary-50: #d8d6ff;
    --primary-100: #c1beff;
    --primary-200: #aaa5ff;
    --primary-300: #938dff;
    --primary-400: #7b74ff;
    /* main */
    --primary-500: #645cff;
    --primary-600: #554ed9;
    --primary-700: #4640b3;
    --primary-800: #37338c;
    --primary-900: #282566;
    --primary-1000: #191740;
    --primary-1100: #0a0919;
    /* grey */
    --grey-0: #fafbfc;
    --grey-50: #f2f4f8;
    --grey-100: #eaedf3;
    --grey-200: #e2e7ef;
    --grey-300: #dbe0ea;
    --grey-400: #d3dae6;
    --grey-500: #cbd3e1;
    --grey-600: #adb3bf;
    --grey-700: #8e949e;
    --grey-800: #70747c;
    --grey-900: #51545a;
    --grey-1000: #333538;
    --grey-1100: #141516;
    /* green */
    --green-0: #e7fae8;
    --green-50: #aeeca5;
    --green-100: #71f25a;
    --green-200: rgb(21, 183, 35);
    --green-300: #0ee051;
    --green-400: #11c83f;
    --green-500: #269943;
    --green-600: #0c7d34;
    --green-700: #24781d;
    --green-800: #0b7405;
    --green-900: #0c2c12;

    /* rest */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    /* typography */
    --headingFont: 'Inconsolata', monospace;
    --bodyFont: 'Montserrat', sans-serif;
    --smallText: 0.7em;
    /* rest */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-1000);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    /* box shadows */
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

html {
    font-size: 112.5%;
}

body {
    background: url("./samantha-gades-BlIhVfXbi9s-unsplash.jpg");
    background-size: cover;
    background-position: 50% 50%;
    color: var(--textColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*************
     Buttons 
*************/

.btn {
    cursor: pointer;
    appearance: none;
    color: var(--white);
    background: var(--primary-500);
    border: none;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
}

.btn:hover {
    color: var(--white);
    background: var(--primary-700);
    box-shadow: var(--shadow-2);
}

button.small {
    padding: 0.25rem 0.5rem;
    font-size: var(--smallText);
}


nav {
    width: 100%;
    height: 100px;
    background: rgba(255, 192, 203, 0.309);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    width: 100%;
    height: 100vh;
    background:url(../img/pexels-nicolas-postiglioni-421129.jpg);
    background-size: cover;
    background-position: 50% 80%;

}
nav {
    background: #000;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 1 10px;
    transition: 0 5s;

}
.nav-links {
    box-shadow: inset 0 0 13px 2px gray;

}
.logo {
    display: flex;
    text-align: center;
}
.logo img {
    margin-right: 10px;
}
.logo span {
    font-weight: bold;
    color: #0c7d34;
    font-family: auto;
    text-shadow: 0 0 10px rgb(184, 234, 19);
}
section {
    min-height: 100vh;
    padding: 30px;
    box-shadow: 3px 4px 4px pink;
}
section#about {
    background: url(../img/pexels-jess-loiterton-4321802.jpg);
    background-size:cover ;
    background-position: bottom;
    background-attachment: fixed;

}
section * {
    color: rgb(16, 12, 12);
}
section h2 {
    text-align: center;
    font-family: ;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 2px solid blue;
}
.flex {
height: 500px;
display: flex;
flex-wrap: wrap-reverse;
}
.about-text,.about-image {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}
/*products*/
section#products {
    background: rgb(212, 7, 7);
}
.p-card {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}
.card {
flex: 1 1 16rem;
display: flex;
text-align: center;
justify-content: center;
padding: 16px;
}
.card div {
    text-align: center;
}
.card image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}
section#service {
    background: #297cb04f;
}
#service .card {
    flex: 1 1 15rem;
    height: 200px;
    border: 1px solid white;
    position: relative;
}
#service .card-text,#service .card-image {
position: absolute;
width: 100%;
height: 100%;
}
.card-text {
    background: green(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0 .53;
   /* transform: scale(0);*/
   transform: translateY(100%);
}
#service .
